# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore environment variable files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled C extensions
*.so

# Ignore directories created by Python tools
.eggs/
*.egg-info/
dist/
build/

# Gradio
.gradio

# MP3
*.mp3

# Other
.lock

# Ignore all .txt files except requirements.txt
*.txt
!requirements.txt